<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for循环</title>
    <script src="./vue.js"></script>
</head>
<body>
<ul class="demo" >
    <li v-for="(book,index) in lists">{{index}} {{book.name}} {{book.price}}</li>
    <span v-for="n in 10">{{ n }}</span>
</ul>

    <script>
        new Vue({
           el: '.demo',
           data:{
               lists: [
                {name:'javascript',price:50},
                {name:'node',price:50},
                {name:'ajax',price:50},
                {name:'vue',price:50},
               ]
           } 
        })
    </script>
</body>
</html>